# Docker data
**/data/
**/logs/

# Secrets
.env
*.secret
*.key
*.pem

# Database files
*.db
*.sqlite

# Media
**/media/

#DNS
**/technitium/

# Temporary files
*.tmp
*.bak

# OS files
.DS_Store
Thumbs.db
